@media (max-width:1024px) {
    .projects {
        max-width:900px;
    }
}

@media (min-width:768px) and (max-width: 835px)  {
    .container-project {
        max-width: 750px;
        justify-content: center;
    }
    .projects {
        max-width:700px;    
        margin: 50px auto;
        gap: 25px;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .titleproj h1{
        font-size: 28px;        
    }
    
    .titleproj p {
        font-size: 18px;
    }
    
    .description {
        padding: 10px;
        gap: 10px;
    }
    
    .description h1 {
        font-size: 16px;
    }
 
    
    .card {
        width: 310px;
    }

    .card img {
        max-width: 300px;
        height: 220px;
    }     
    
    .technologies img {
        display: flex;
        max-width: 60px;
        height: 30px;
    }
}