@media (max-width:1024px) {
    .projects {
        max-width:900px;
    }
}

@media (min-width:768px) and (max-width: 835px)  {
    .container-project {
        max-width: 750px;
        justify-content: center;
    }
    .projects {
        max-width:700px;    
        margin: 50px auto;
        gap: 25px;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .titleproj h1{
        font-size: 28px;        
    }
    
    .titleproj p {
        font-size: 18px;
    }
    
    .description {
        padding: 10px;
        gap: 10px;
    }
    
    .description h1 {
        font-size: 16px;
    }
 
    
    .card {
        width: 310px;
    }

    .card img {
        max-width: 300px;
        height: 220px;
    }     
    
    .technologies img {
        display: flex;
        max-width: 60px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .projects {
        max-width: 100vw;
        height: 2400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 35px auto;
    }

    .loader {
        border: 16px solid #c8b3b355; 
        border-top: 17px solid #81099f; 
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 15s linear infinite; 
        margin: 40px auto;
    }

    .titleproj h1 {
        color: #fff;
        margin: 0 auto 20px auto;
        text-align: center;
        font-size: 1.5rem; 
        font-family: 'Roboto Condensed', sans-serif; 
    }

    .titleproj p {
        color: #e5e4e1c8;
        text-align: center;
        font-size: 1.2rem;
        margin: 0 10px; 
    }

    .description {
        flex-direction: column;
        padding: 5px;
        gap: 10px;
    }

    .description h1 {
        color: #fff;
        font-size: 1.2rem; 
    }

    .description p {
        color: #e5e4e1c8;
        font-size: 0.8rem;
        margin: 0 10px; 
    }

    .card {
        width: 86vw; 
        margin: 0 auto;
        background-color: #1f1d1d3a;
        border-radius: 12px;
        padding: 10px 0; 
        box-shadow: 8px 8px 15px -5px;
        transition: all 0.8s ease 0.1s;
    }

    .card a img, .card img {
        max-width: 90%; 
        height: auto;
        margin: 0 auto;
        border-radius: 5px;
        display: block; 
    }

    .technologies {
        max-width: 100%;
        min-width: unset; 
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    .technologies li {
        list-style: none;
        display: inline-flex;
        padding: 5px;
    }

    .technologies img {
        max-width: 50px; 
        height: 20px; 
    }

    .card li {
        list-style: none;
    }

    .card li a {
        display: block; 
        text-align: center; 
        text-decoration: none;
        font-size: 14px; 
        color: #e5e4e1c8;
        margin: 5px auto;
    }

    .card li a:hover {
        color: #81099f;
    }
}
