@media (max-width:480px) {
    .navbar-mobile {
        position: relative;
        background:linear-gradient(90deg, rgba(20,16,24,1) 0%, rgba(14,14,15,1) 49%, rgba(20,16,24,1) 100%, rgba(42,3,96,1) 100%);
        padding: 10px;
        z-index: 1000;
      }
      
      .open-mobile {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      
      .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
      }
      
      .close-mobile {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
      
      .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        justify-content: center;
        align-items: center;
      }
      
      .mobile-menu li {
        margin: 20px 0;
        justify-content: center;
        align-items: center;
      }
      
      .mobile-menu li a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
      }
}

/* Estilos para o menu mobile */
.navbar-mobile {
  position: relative;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
}

.open-mobile {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.mobile-menu .open-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.mobile-menu li {
  margin: 20px 0;
}

.mobile-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}


