@media (max-width:1024px) {
    .main {
        max-width: 900px; 
    }

    .profile-img img {
        max-width: 290px;    
    }
}


@media (max-width:768px) {
    .main {
        max-width: 730px;
        margin: 130px 30px;
    }

    .profile, h1 {
        font-size: 16px;
    }
    
    .myname {
        font-size: 20px;
    }
    
    .profile, h2 {
        font-size: 48px;
    }
    
    .block {
        display: block;
        font-size: 48px;   
    }
    
    .profile p {
        font-size: 16px;
    }  
    

    @media (max-width:480px) {
        .main {
            max-width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center;
            margin: 0 auto;
            font-family: 'Roboto Condensed', sans-serif; 
        }
    
        .profile, h1 {
            color: #e5e4e1c8;
            font-size: 1.5rem;
        }
    
        .myname {
            color: #fff;
            font-size: 1.4rem;
        }
    
        .profile h2 {
            max-width: 95vw;
            font-size: 2rem;
            color: #81099f;
            font-family: 'Roboto', 'Times New Roman', Times, serif;
            text-align: center;
        }
    
        .block {
            max-width: 95vw;
            font-size: 2rem;
            color: #81099f;
            font-family: 'Roboto', 'Times New Roman', Times, serif;
            text-align: center; 
        }
    
        .profile p {
            max-width: 95vw;
            font-size: 1rem;
            color: #e5e4e1c8;
            text-align: justify;
            margin: 15px;
        }

        .profile-img img {
            display: none;
        }
    
        .profile-img-mobile img {
            display: flex; 
            flex-direction: column-reverse;
            width: 150px; 
            height: 150px; 
            border-radius: 50%; 
            margin: 20px auto; 
        }
    
        .button-main-mobile {
            display: flex;
            justify-content: center; 
            width: 100%; 
        }
    
        button {
            width: 93vw;
            height: 50px;
            background-color: #f7f430;
            border-radius: 5px;
            cursor: pointer;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        button:hover {
            background-color: #222221;
            color: #f6e207;
            border: 1px solid #f6e207;
        }
    }
    
}
