@media (max-width:1024px) {
    .section {
        max-width:900px;       
    }
}


@media (max-width:768px) {
    .section {
        max-width:730px;  
        margin: 130px 20px;
        gap: 60px;     
    }

    .aboutme h1,  .skills h1 {
        font-size: 28px;
    }  
    
    .skills h2 {
        font-size: 16px;
    }
    
    .abilities {
        display: inline-block;
    }
    
    .skills li {
        font-size: 18px;
    } 
}

@media (max-width: 480px) {
    .section {
        max-width: 100vw;
        max-height: 1800px;
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
        gap: 20px;
    }

    .aboutme {
        grid-area: unset; 
    }

    .aboutme h1 {
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5rem; 
        margin-bottom: 20px;
        text-align: center;
    }

    .aboutme p {
        color: #e5e4e1c8;
        font-size: 1rem; 
        padding-bottom: 10px;
        text-align: justify;
        line-height: 35px;
        padding: 0 10px; 
    }

    .name, .blocktech, .skillsmain, .toolsbuild, .decentralizedtech, .learnmore {
        color: #81099f;
    }

    .skills {
        grid-area: unset;
        margin: 50px auto;
    }

    .skills h1 {
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5rem; 
        margin-bottom: 20px;
        text-align: center; 
    }

    .skills h2 {
        color: #e5e4e1c8;
        font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .abilities {
        display: block;
        text-align: center;
    }

    .skills li {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px; 
        border-radius: 5px;
        color: #e5e4e1d9;
        font-size: 1rem;
        list-style: none;
        background-color: #ffffff0c;
        cursor: pointer;
    } 

    .skills li:hover {
        color: #81099f;
        border: 1px solid #81099f;
    }
}
