@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Robot Condensed';
}

.footer {
    max-width:1000px;
    height: 100vh;
    display: grid;
    grid-template-areas: "titlefooter"
    "chatme"
    "social" ;
    justify-content: center;
    align-items: center;

    margin: 160px auto 0px auto;

}

.titlefooter {
    max-width: 1000px;
    grid-area: "titlefooter";
   justify-content: center;
}

.titlefooter h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px; 
    margin: 20px 0;
    color: #fff;   
}

.titlefooter p {
    font-size: 19px;
    color: #e5e4e18c;    
}

.chatme {
    display: flex;
    grid-area: "chatme";
    justify-content: center;
    max-width: 1000px;
}

.social {
    grid-area: 'social';
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.social ul {
    display: flex;
}

.social li {
    list-style: none;
    display: flex;
}

.social img {
    max-width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0 2px;
}

.social img:hover {
    background-color: #f7f4304a;
    border-radius: 6px;
}

.social h2 {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}